{% load staticfiles %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}My Site{% endblock %}</title>


    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    {% block links %}{% endblock %}
</head>
<body>

    <nav class="navbar">
        <div class="container">
            <ul class="menu">
                <li><a class="btn" href="http://localhost:8000/api/quotes/" data-target="main">Home</a></li>
                {% if request.user.is_authenticated %}
                    {% block menu %}{% endblock %}
                    <li><a class="btn" href="#" data-target="create">Добавить цитату</a></li>
                    <li><a href="{% url 'accounts:detail' request.user.pk %}">
                        Привет, {{ request.user.get_full_name|default:request.user.username }}
                    </a></li>
                {% endif %}
                {% block auth_menu %}
                    {% if request.user.is_authenticated %}
                        <li><a href="{% url 'accounts:logout' %}?next={{ request.get_full_path }}">Logout</a></li>
                    {% else %}
                        <li><a href="{% url 'accounts:login' %}?next={{ request.get_full_path }}">Login</a></li>
                        <li><a href="{% url 'accounts:create' %}?next={{ request.get_full_path }}">Sign Up</a></li>
                    {% endif %}
                {% endblock %}
                {% if not request.user.is_authenticated %}
                    <li><a href="{% url 'accounts:password_reset_email' %}">Reset Password</a></li>
                {% endif %}
            </ul>
        </div>
    </nav>

    <div class="container">
        {% include 'partial/messages.html' %}
        {% block content %}{% endblock %}
    </div>


    {% block scripts %}
        <script type="application/javascript" src="{% static 'js/main.js' %}"></script>
    {% endblock %}
</body>
</html>
