{% extends 'base.html' %}

{% block content %}
    <div class="quote-container hidden">

    </div>

    <div class="detail-container hidden">

    </div>

    <div class="form hidden">
        <h1 class="form-title">Создайте цитату!</h1>
        <form method="post">
            {% csrf_token %}
            <label class="form-label">
                Цитата:
                <textarea id="text-input" name="text"></textarea>
            </label>
            <br>
            <label class="form-label">
                Автор:
                <input id="author-input" type="text" name="author">
            </label>
            <br>
            <label class="form-label">
                Почта:
                <input id="email-input" type="email" name="email">
            </label>
            <input id="submit" type="submit" value="Создать">
        </form>
    </div>


    {% if is_paginated %}
        {% include 'partial/pagination.html' %}
    {% endif %}
{% endblock %}
